// Colors Theme
$black: black;
$white: white;
$gray: #c2c1c1;
$main-color: #124c64;
$secnd-color: #e38519;

// Media Theme
$mobile-screen: 767px;
$tab-screen: 992px;

// Font Size Theme
$main-size: 1rem;
