// Start About Us
// Start Who Are We
.who-are-we {
  .who-are-we__sub-title {
    font-size: 17px;
  }
  .who-are-we__title {
    font-size: 31px;
  }
  .who-are-we__desc {
    font-size: 22px;
  }
}

.vision-mission {
  background-color: #edeff2;
  padding: 80px 0;
  h2 {
    font-size: 31px;
  }
  p {
    font-size: 24px;
    color: #707070;
  }
}

.pro-exp {
  padding: 74px 0;
  .pro-exp__title {
    font-size: 31px;
  }
  .pro-exp__desc {
    font-size: 24px;
    color: #707070;
  }
}
// End About Us
